# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env.local
.env*.local

# database (local dev sqlite)
/prisma/dev.db
/prisma/dev.db-journal

# uploads (local dev profile photos / product images)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
/coverage
